@import url(../css/reset.css);
@import url(../css/default.css);
@import url(../css/layout.css);


h2 {
	font-size: 10rem;
	font-weight: 600;
}
.main {
	margin-top: 50rem;
	font-family: 'gill-sans-nova', sans-serif;
	font-weight: 300;
	padding-bottom: 9rem;
}

.main .main_title {
	display: flex;
	justify-content: space-between;
	font-size: 5rem;
	position: relative;
}

.main .main_title::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.1rem;
	background-color: #adadad;
	bottom: -6rem;
	left: 0;
}
.main .main_name {
	display: flex;
	justify-content: space-between;
	font-size: 26rem;
	letter-spacing: 1rem;
	margin-top: 7rem;
}
.bio {
	display: block;
	width: 100%;
	height: 121rem;
	padding-top: 12rem;
	background: linear-gradient(#fbfbfb, #f2f2f2);
}
.bio h2 {
	display: none;
}

.bio .bio_wrap {
	display: flex;
	justify-content: flex-start;
}

.bio .portrait {
	font-size: 4rem;
}

.bio .portrait img {
	width: 52rem;
	object-fit: cover;
}

.bio .portrait span {
	display: block;
	margin-bottom: 1rem;
	margin-left: 2rem;
}

.bio .portrait .main_name {
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.bio .portrait .main_name .kr_name {
	font-weight: 400;
}

.bio .introduce {
	display: block;
	margin-left: 16rem;
}

.bio .introduce span {
	display: block;
}

.bio .introduce h3 {
	font-size: 6rem;
	margin-top: 35rem;
}

.bio .introduce h3 em {
	font-weight: 600;
}

.bio .introduce .author {
	margin-top: 3rem;
	margin-bottom: 8rem;
	font-size: 4rem;
}

.bio .introduce .intro_txt {
	font-size: 2.5rem;
	line-height: 2;
}

.career {
	background-color: #f2f2f2;
	padding-bottom: 4rem;
}
.career h2 {
	padding: 10rem 0;
}
.career .career01,
.career .career02 {
	display: grid;
	grid-template-columns: 1fr 1.1fr;
	align-items: end;
}
.career .career_company {
	font-size: 4rem;
	text-align: right;
	margin-right: 7rem;
	margin-bottom: 3rem;
}
.career .career_company .company_title_kr {
	font-weight: 400;
}
.career .career_company .company_title_en {
	margin-top: 2rem;
	font-size: 2.5rem;
}

.career .career_project {
	padding-left: 7rem;
	border-left: 0.1rem solid #adadad;
}

.career .career_project li {
	position: relative;
	margin-bottom: 4rem;
}

.career .career_project span {
	display: block;
}

.career .career_project .project_tit {
	font-size: 3rem;
	font-weight: 400;
	margin-bottom: 2.5rem;
}

.career .career_project .project_tit em {
	font-size: 2.5rem;
	margin-left: 3rem;
	font-weight: 300;
}

.career .career_project .project_info {
	font-size: 2rem;
}

.career .career_project .project_duration {
	font-family: "futura-PT", sans-serif;
	position: absolute;
	font-size: 6rem;
	font-weight: 700;
	bottom: 0;
	right: 5rem;
	text-align: left;
	opacity: 10%;
}

.career .career02 {
	margin-top: 15rem;
}

.career .career02 .project01 {
	margin-top: 3rem;
}

.project {
	padding: 20rem 0;
	background: linear-gradient(#f2f2f2, #f6f2f6, #ebe9f3);
}

.project h3 {
	font-size: 5rem;
	text-align: right;
	font-weight: 500;
	margin-bottom: 5rem;
	margin-right: 3rem;
}

.project a {
	font-size: 4rem;
}

.project .project_name {
	display: flex;
	justify-content: space-between;
	padding-left: 3rem;
	padding-right: 13rem;
	line-height: 15rem;
	border-top: solid 0.1rem #adadad;
	position: relative;
}

.project .project_name:after {
	position: absolute;
	display: block;
	top: 5.7rem;
	right: 3rem;
	width: 3rem;
	height: 3rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='47' height='47' viewBox='0 0 47 47'%3E%3Cpath id='패스_121' data-name='패스 121' d='M1547.993,3683.5h47' transform='translate(-1547.993 -3660.5)' fill='none' stroke='%232b2b2b' stroke-width='2'/%3E%3Cpath id='패스_122' data-name='패스 122' d='M0,0H47' transform='translate(23.5) rotate(90)' fill='none' stroke='%232b2b2b' stroke-width='2'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-size: 3rem auto;
	content: '';
}

.project .web,
.project .bi,
.project .designwork,
.project .curator {
	margin-top: 15rem;
}

.project .web ul.web_list > li:last-child,
.project .bi ul.bi_list > li:last-child,
.project .designwork ul.designwork_list > li:last-child,
.project .curator ul.curatir_list > li:last-child {
	border-bottom: solid 0.1rem #adadad;
}

.contact {
	padding-top: 15rem;
	background: linear-gradient(#eceaf3, #fbfbfb);
}

.contact h2 {
	font-size: 20rem;
	margin-bottom: 20rem;
}
.contact ul li {
	font-size: 18rem;
	line-height: 15rem;
}
.footer .copyright {
	display: block;
	text-align: right;
	margin: 10rem 0;
	font-size: 4rem;
}
