@import url(../css/layout.css);
@import url(../css/reset.css);
@import url(../css/default.css);
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main_title{
    margin-top: 5rem;
    font-size: 6rem;
    font-weight: 500;}

.project_wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5rem;
    padding-bottom: 5rem;
    font-weight: 400;
border-bottom: 0.1rem solid #adadad;


}

.project_wrap img{
width: 90%;
position: relative;
}

.project_wrap .project_tit span{
display: block;
font-size: 4rem;}
.project_wrap .project_tit .title_ko
{margin-bottom: 2rem;}

.project_wrap .project_tit .title_en
{font-weight: 30;}

.project_wrap .project_tit .link_site{
position: absolute;
top: 72rem;
left: 40%;
font-size: 2rem;
padding: 0.5rem 2.5rem;
border: 0.1rem solid #adadad;
border-radius: 4rem;
}

h3{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 7rem;
padding-top: 4rem;}

.project_purpose ul{
    padding-bottom: 3rem;
border-bottom: 0.1rem solid #adadad;

}

.project_purpose ul li{
    font-size: 2rem;
    line-height: 3.5rem;
}
.project_concept .concept_list{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    margin-bottom: 7rem;}


h4{
font-size: 2.5rem;
text-align: right;
font-weight: 400;
margin-right: 20rem;}

.project_concept .wrapper{
border-bottom: 0.1rem solid #adadad;}

.project_concept .concept_list{
    margin-bottom: 10rem;}

.project_concept .concept_list ul{
    font-size: 2rem;
    line-height: 3rem;
    margin-right: 5rem;}


.project_concept .concept_sub_tit{
    font-size: 2.5rem;
    margin-bottom: 5rem;
    font-weight: 500
;}



.project_concept .color_list{
    display: flex;
    justify-content: flex-start}


.project_concept .color_list .color_name01,
.project_concept .color_list .color_name02
{width: 20rem;
border: 0.1rem soild #2b2b2b;
border-radius: 1.5rem;}

.project_concept .color_list .color_code01,
.project_concept .color_list .color_code02
{margin: 0 3rem;}

.project_concept .color_list .color_name01
{background-color: #2b2b2b;}

.project_concept .color_list .color_name02
{background-color: #003831;}

.project_concept .concept_list .font_wrap{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;}


.project_concept .font_list01 .list_wrap,
.project_concept .font_list02 .list_wrap{
padding: 0;}

.project_concept .font_list01 li,
.project_concept .font_list02 li{
padding: 0;
margin-bottom: 1rem;
}

.project_concept .font_list01 .font_info,
.project_concept .font_list02 .font_info{
display: flex;
justify-content: space-between;
margin-bottom: 0;
}

.project_concept .font_list01,
.project_concept .font_list02{
margin-bottom:unset;}

.project_concept .font_list01 .font_info li,
.project_concept .font_list02 .font_info li{
padding-right: 5rem;
}

.project_concept .font_info .bold_title,
.project_concept .font_info .bold_info{
font-weight: 600;}

.project_concept .font_info .regular_title,
.project_concept .font_info .regular_info{
font-weight: 400;}

.project_concept .font_info .light_title,
.project_concept .font_info .light_info{
font-weight: 300;}


.project_concept .font_list01{
font-family: Neuzeit Grotesk, GowunBatang-Regular, sans-serif;}

.project_concept .font_list02{
font-family: Suite Variable, sans-serif;}

.output_display .display_wrap{
display: flex;
justify-content: space-between;}

.output_display .display_wrap span{
display: block;
font-size: 3rem;
margin-bottom: 5rem;}





